
<section layout:decorate="~{fragments/layout}">
	
	<h1 layout:fragment="contentTitle" th:text="#{changePassword.contentTitle}"> </h1>
	<h5 layout:fragment="contentExplanation" th:text="#{changePassword.contentExplanation}"> </h5>

	<section layout:fragment="content" class="w3-container w3-center w3-margin">
	
		<div th:if="${errorMessage}">
			<h6 th:text="${errorMessage}" class="w3-text-red"></h6>
		</div>
		<form method="POST" th:action="@{/readers/changePassword}" th:object="${passwordDto}" >
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>	        
	        <div class="w3-row w3-margin">
				<label for="oldPassword" class="w3-half w3-right-align w3-padding-right"> <span th:text="#{reader.oldPassword.label}"> </span>  </label>
				<div class="w3-cell">
   		         	<input type="password" id="oldPassword" th:field="*{oldPassword}" class="w3-left-align w3-round" required autofocus/>
	   	        </div>
			</div>
		
	        <div class="w3-row w3-margin">
				<label for="newPassword" class="w3-half w3-right-align w3-padding-right"> <span th:text="#{reader.newPassword.label}"> </span>  </label>
				<div class="w3-cell">
	            	<input type="password" id="newPassword" th:field="*{newPassword}" class="w3-left-align w3-round" required/>
	            </div>
			</div>
		
		
	        <div class="w3-row w3-margin">
				<label for="confirmPassword" class="w3-half w3-right-align w3-padding-right"> <span th:text="#{reader.confirmPassword.label}"> </span>  </label>
				<div class="w3-cell">
        	    	<input type="password" id="confirmPassword" class="w3-left-align w3-round" required/>
            	</div>
			</div>
				
			<input type="submit" class="w3-button w3-margin	 w3-dark-gray w3-round w3-hover-red" th:value="#{reader.password.changePassword.label}"  									
					th:onclick="return validatePasswords()" 
			/> 
 		</form>
 <script type="text/javascript">
	function validatePasswords(){
		let pass1 = document.getElementById("newPassword").value;
		let pass2 = document.getElementById("confirmPassword").value;
		if ( (pass1 != null) && (pass2 != null) && (pass1 != pass2) ) {
			alert("New passwords do not match!");
			return false;
		}
		return true;
	}
</script>        
        		     
    </section>


    
</section>


 


