
<section layout:decorate="~{fragments/layout}">
	
	<h1 layout:fragment="contentTitle" th:text="#{help.contentTitle}"> </h1>
	<h5 layout:fragment="contentExplanation" th:text="#{help.contentExplanation}"> </h5>
	
	<section layout:fragment="content" class="w3-container">
			
		<h3>What Is DeepReadings.com?</h3>
		<ul>
			<li>Target audience of this site are the enthusiastic readers, especially those who habitually take notes on the book margins while reading.</li>
			<li>The ebooks on this site are technically structured in such a way the readers can attach their notes or markings onto the texts that interest them.</li>
			<li>Simply select the text that you want to mark, then right-click to choose your marking-style or to put your comments/notes.</li>
			<li>If you like you can also share your markings and notes with others while viewing the comments of other readers on the same part. </li>
		</ul>
		<br>
		<h3>Be a <em>Deep Reader!</em></h3>
		<ul>
			<li>Please note that scribbling properly on book margins is indeed a very useful habit.  </li>
			<li>The areas we mark or put notes indicate those parts we find most interesting, important or sometimes wrong. Either case, they constitute the most favorable and rewarding parts of the reading.</li>
			<li>They are potentially the parts that we would like to review or might feel the necessity to refer to in the future. Mark wisely to be able to find again what you may only vaguely remember in the future.</li>
			<li>Even though the notes we take are mainly in the form of a soliloquy, they can act as a means of sharing our opinions and discussing
				our thoughts with others. This online environment intends to serve for this purpose.</li>
			<li>Another side benefit that may not easily occur is that in long term you will have the opportunity to observe how or if your opinions/worldview change or evolve in time.</li>
		</ul>
		<br>
		<h3>General Info</h3>
		<ul>
			<li>To be able to save your markings/notes on the book, you will need a username. <a href="users/signup">Registration </a> is simple.</li>
			<li>If you simply want to read books without taking any online notes, you don't need a registration. Just go ahead. </li>
			<li>The books available on this site are ONLY those without copyright restrictions. If you notice any copyright violation please <a href="contactUs">Contact Us </a>. </li>
			<li>We are working to increase the number of ebooks in our library.</li>
			<li>The book format we support in our library is html (and epub which is also some sort of html). We do not support pdf documents. That's because pdf documents are prepared for fixed page sizes (eg. A4) and can not be displayed conveniently on screens of different sizes.</li>		
			<li>Please note that we are in early stages of our development, so we ask for your understanding if we screw up your data. Nevertheless we promise doing our best to save it safe and sound. </li>		
			<li>This site should work on any browser on any PC. We hope to support the mobile devices soon.</li>		
		</ul>

	</section>

</html>
