
<section layout:decorate="~{fragments/layout}">

	<h1 layout:fragment="contentTitle" th:text="#{home.contentTitle}"> </h1>
	<h5 layout:fragment="contentExplanation" th:text="#{home.contentExplanation}"> </h5>

	<section layout:fragment="content" class="w3-row w3-container w3-padding">

		<img class="w3-round-large w3-quarter" src="img/thinker.jpg" alt="thinker.jpg" >		
		<div class="w3-rest w3-padding">
			<h3 class="w3-text-red">PLEASE NOTE THIS SITE IS YET IN DEVELOPMENT/TEST PHASE.</h3>
			<h3 class="w3-text-red">YOUR DATA IS LIKELY TO BE LOST IF YOU SAVE SOMETHING. </h3>
			<br>

			<h4>This site is aiming to provide an online reading environment where readers can write their notes on the ebook and share them with others. </h4>
			<br>							
			<h4>As a <b>Deep Reader</b> you can; </h4>
			<h6> - read a book of your choice from the library, </h6>			
			<h6> - mark those parts of the book that you find interesting and write your comments, (like you can do when reading a paper book), </h6>				
			<h6> - share your markings and comments with other <em>Deep Readers</em> if you want to, </h6>
			<h6> - see the markings and comments of other <em>Deep Readers</em> if they opted for sharing. </h6>
			<br>	
			<h6> See <a href="guidelines">Guidelines </a> for more details.</h6>	
		</div>

	</section>
</section>
